@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: 100%;
  font-size: 16px; }

body {
  font-family: 'Hiragino Mincho ProN','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3','MS PGothic', arial, helvetica, sans-serif; }

table {
  border-collapse: collapse; }

ul {
  list-style: none; }

img {
  vertical-align: middle;
  width: 100%; }

a {
  text-decoration: none;
  color: black; }

a:visited {
  color: black; }

.wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
  .wrap h1, .wrap h2 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px; }
  .wrap p {
    font-family: "Sawarabi Mincho",sans-serif; }

.ex-sp {
  display: block; }
  @media (min-width: 768px) {
    .ex-sp {
      display: none; } }

h2 {
  font-size: 2em; }

.move {
  opacity: 0;
  transform: translateY(50px);
  transition: all .8s ease; }
  .move.show {
    opacity: 1;
    transform: translateY(0); }

.header {
  width: 100%; }
  .header__insta {
    position: fixed;
    top: 60px;
    right: 0;
    padding: 10px;
    z-index: 3; }
    @media (min-width: 768px) {
      .header__insta {
        padding: 20px; } }
    .header__insta img {
      width: 38px; }
    .header__insta a > img:nth-child(1) {
      display: block; }
    .header__insta a > img:nth-child(2) {
      display: none; }
    .header__insta.navy a > img:nth-child(1) {
      display: none; }
    .header__insta.navy a > img:nth-child(2) {
      display: block; }
  .header__icon {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    display: block;
    text-align: center;
    color: #fff;
    z-index: 3;
    cursor: pointer; }
    @media (min-width: 768px) {
      .header__icon {
        padding: 20px; } }
    .header__icon p {
      font-size: 12px; }
    .header__icon span {
      content: "";
      display: block;
      height: 2px;
      width: 40px;
      background-color: #fff;
      transition: all .3s ease-in; }
      .header__icon span:nth-child(2) {
        width: 30px; }
      .header__icon span:nth-child(3) {
        transform: translateY(8px); }
      .header__icon span:nth-child(4) {
        transform: translateY(16px); }
    .header__icon.close p {
      opacity: 0; }
    .header__icon.close span:nth-child(2) {
      width: 40px;
      transform: rotate(45deg) translateX(5px) translateY(4px); }
    .header__icon.close span:nth-child(3) {
      opacity: 0; }
    .header__icon.close span:nth-child(4) {
      transform: rotate(-45deg) translateX(-1px) translateY(2px); }
    .header__icon.navy {
      color: #010424; }
      .header__icon.navy span {
        background-color: #010424; }
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(134, 122, 151, 0.8);
    transition: all .5s ease-in;
    z-index: 2; }
    .header__menu ul {
      padding: 80px 30px 0;
      text-align: center; }
      .header__menu ul li {
        margin: 0 0 20px; }
      .header__menu ul a {
        color: white;
        font-size: 1.3em; }
    .header__menu.show {
      width: 100%; }
      @media (min-width: 768px) {
        .header__menu.show {
          width: 25%; } }

.top {
  margin: 0 auto;
  text-align: right;
  position: relative;
  z-index: 1; }
  .top img {
    width: 100%; }
  .top__logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010424; }
    .top__logo > div {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 10px 3px; }
      @media (min-width: 768px) {
        .top__logo > div {
          padding: 40px; } }
    .top__logo img {
      width: 80px; }
      @media (min-width: 768px) {
        .top__logo img {
          width: 200px; } }
    .top__logo h1 {
      margin: 5px 0 0;
      font-size: 1.3em; }
      @media (min-width: 768px) {
        .top__logo h1 {
          margin: 20px 0 0;
          font-size: 2em; } }
    .top__logo p {
      margin: 5px 0 0; }
      @media (min-width: 768px) {
        .top__logo p {
          margin: 10px 0 0;
          font-size: 1.2em; } }

.about {
  margin: 40px auto 0;
  padding: 0 15px;
  text-align: center;
  color: #010424; }
  .about p {
    margin: 20px 0 0;
    line-height: 2; }
    .about p span {
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      font-size: 20px; }

.access {
  margin: 40px auto 0;
  color: #010424; }
  .access h2, .access p {
    padding: 0 15px;
    text-align: center;
    line-height: 2; }
  .access iframe {
    margin: 20px 0 0;
    width: 100%;
    height: 400px; }

.food {
  margin: 40px auto 0;
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: repeat; }
  .food h2 {
    text-align: center;
    padding: 0 15px;
    color: #fff;
    padding: 40px 0 20px; }
  .food__block {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .food__block {
        flex-direction: row;
        align-items: center; } }
    .food__block.sp-reverse {
      flex-direction: column-reverse; }
      @media (min-width: 768px) {
        .food__block.sp-reverse {
          flex-direction: row; } }
  .food__txt {
    width: 100%;
    padding: 0 50px;
    margin: 0 0 30px;
    display: flex;
    flex-direction: column;
    color: #010424; }
    @media (min-width: 768px) {
      .food__txt {
        padding: 0 15px;
        width: 50%;
        margin: 0; } }
    .food__txt > div {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px; }
    .food__txt span {
      margin: 0 0 10px;
      color: #f39b3e;
      font-weight: bold; }
      @media (min-width: 768px) {
        .food__txt span {
          font-size: 1.5em; } }
  .food__img {
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .food__img {
        width: 50%;
        padding: 0 15px; } }
    .food__img > div {
      margin: 0 0 30px; }
    .food__img img {
      border: 10px solid #fff; }
  .food table {
    width: 100%;
    text-align: left;
    margin: 20px 0 0; }
    .food table th {
      width: 200px; }
